/* Шрифты
-заголовки: font-family: 'Montserrat', sans-serif;
-основной текст: font-family: 'Roboto Mono', monospace; */

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

/* .main-img {
    object-fit: cover;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -25;
} */

.header {
    background-color: azure;
    /* min-height: 170px; */
}

.head {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main-header {
    margin: 0;
    text-align: center;
    font-size: 3rem;

}

header hr {
    border: 1px solid rgba(165, 165, 165, 0.068);
    background-color: rgba(146, 146, 146, 0.5);
    width: 85%;
}

.inform-table {
    display: flex;
    justify-content: center;
}

.inform-items {
    font-size: 1.3rem;
    padding: 5px 10px;
}

.inform-items-1 {}

.main-wrapper {
    background-size: cover;
    background-image: url(img/creation-of-concept-4k-uc-3840x2400.jpg);
}

.grey-filter {
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
    display: flex;
}

.main {
    /* display: flex;
    flex-flow: row wrap; */
    text-shadow: rgba(44, 2, 14, 0.596) 1px 0 10px;
}

main h1 {
    margin: 0 0 15px 0;
    font-size: 4rem;
    max-width: 600px;
    color: white;
}

.main-item-1 {
    flex: 1 100%;
    margin: 50px;
}

.main-text {
    max-width: 500px;
    font-size: 1.8rem;
    color: white;
}

.main-button {
    background-color: rgb(140, 91, 255);
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    color: azure;
    font-size: 1.1rem;
    margin: 15px 0;
    font-family: 'Roboto Mono', monospace;
}

.main-item-2 {
    flex: 1 100%;
    margin: 50px;
    font-size: 1.3rem;
}

.main-inf {
    color: white;
    padding: 15px;
}

@media all and (min-width: 800px) {
    .main {
        display: flex;
    }

    .main-item-1 {}

    .main-item-2 {}

}

.wrapper {
    background-color: azure;
    /* Дизайн сайта для смартфона */
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
}

.wrapper>* {
    padding: 20px;
    margin: 10px;
    flex: 1 100%;
}

.main-article {
    /* max-width: 900px; */
    margin: 70px auto 30px auto;
}

.main-article-text {
    max-width: 1000px;
    font-size: 1.4rem;
    background-color: rgba(219, 56, 56, 0.466);
    background: -moz-linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(219, 56, 56, 0.08167016806722693) 100%);
    background: -webkit-linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(219, 56, 56, 0.08167016806722693) 100%);
    background: linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(219, 56, 56, 0.08167016806722693) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db3838", endColorstr="#db3838", GradientType=1);
    padding: 10px 20px;
}

h1, h2, h3 {
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(44, 44, 44);
}

h3 {
    font-size: 2rem;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

.main-article-h3 {
    font-size: 3rem;
    margin: 1px;
    line-height: 0.5;
}

.article-product+.article-product {
    margin: 0, 8%;
}

.article-product {
    max-width: 600px;
    display: flex;
    align-items: end;
}

.art-product-text {
    font-size: 1.5rem;
    /* background-color: rgba(223, 146, 125, 0.514); */
    background-color: rgba(139, 98, 233, 0.514);
    padding: 10px 0 10px 10px;
    min-height: 250px;
    border-radius: 5px;
}

h3:hover {
    color: rgb(22, 22, 22);
    text-shadow: 0px 0px 15px rgba(201, 163, 163, 0.91);
}

.product-img {
    max-width: 98%;
    height: 250px;
    background-size: cover;
}

.product-img1 {
    background-image: url(product-img/1.jpg);
}

.product-img2 {
    background-image: url(product-img/2.jpg);
}

.product-img3 {
    background-image: url(product-img/3.jpg);
    background-position: left 0 top -130px;
}

.product-img4 {
    background-image: url(product-img/4.jpg);
}

.product-img5 {
    background-image: url(product-img/5.jpg);
}

.product-img6 {
    background-image: url(product-img/6.jpg);
}

.product-img7 {
    background-image: url(product-img/7.jpg);
}

.product-img8 {
    background-image: url(product-img/8.jpg);
}

.product-img9 {
    background-image: url(product-img/9.jpg);
}

.product-img10 {
    background-image: url(product-img/10.jpg);
}

.product-img11 {
    background-image: url(product-img/11.jpg);
}

.product-img12 {
    background-image: url(product-img/12.jpg);
}

.product-img13 {
    background-image: url(product-img/13.jpg);
}

.product-img14 {
    background-image: url(product-img/14.jpg);
    background-position: center;
}

.product-img15 {
    background-image: url(product-img/15.jpg);
}

.product-img16 {
    background-image: url(product-img/16.jpg);
}

.product-img17 {
    background-image: url(product-img/17.jpg);
}

.product-img18 {
    background-image: url(product-img/18.jpg);
}

.product-img19 {
    background-image: url(product-img/19.jpg);
}

.teachers {
    font-size: 1.3rem;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.teachers-h3 {
    font-size: 3rem;
}

.teachers div {
    padding: 10px 20px;
    background: rgb(219, 56, 56);
    background: -moz-linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(186, 133, 217, 0.86) 100%);
    background: -webkit-linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(186, 133, 217, 0.86) 100%);
    background: linear-gradient(90deg, rgba(219, 56, 56, 0.8575805322128851) 0%, rgba(186, 133, 217, 0.86) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db3838", endColorstr="#ba85d9", GradientType=1);
}

/* Медиа запрос для экрана планшета */
@media all and (min-width: 600px) {
    .article-product {
        flex: 1;
    }

}

/* Медиа запрос для экрана Компьютера */
@media all and (min-width: 900px) {

    .article-product {
        flex-grow: 2;
    }

    .teachers {
        order: 7;   
    }

    .footer {
        order: 8;
    }
}